body{
  background: #7b1b02 !important;
}

#reggio{
  float: right;
}
#slide1{
  width: 32.32%;
  margin-left: 33.84%
}

#slide2{
  width: 35.25%;
  margin-left: 32.125%
}

#slide3{
  width: 38.55%;
  margin-left: 30.725%
}

#slide4{
  width: 39.5%;
  margin-left: 30.25%
}

#slide5{
  width: 55.8%;
  margin-left: 22.1%
}

.resources{
  color: white;
}

#situation{
  color: white;
}

#corpo{
  margin-bottom: 50px;
}

#carosello{
  margin-bottom: 40px;
}

#tempo{
  color: white;
}

#tit{
  background: url("https://upload.wikimedia.org/wikipedia/commons/1/19/Reggio_Emilia_profilo_panorama.JPG") no-repeat center center;
  background-size: cover;
  width: 100%
}

#staticBackdrop{
  background: url("https://lh3.googleusercontent.com/proxy/LsJa0idWaajiDWv1nobnc9xlr3RmiX47D_xWeGV5FDD74cWA0k5flC3wBmKgLEfBX3O6isejvoB_7-8u42ni5oOblp-aq57BpwlXKeAPhAFgQZmQiRa1a7MPTvlqiOpBKrHT_wzuKGFqd3v2-ArNy2nlQkg") no-repeat center center;
}

#staticBackdropLabel{
  color: red !important;
}

#action{ 
  padding-bottom: 30px;
}

#SI{
  display: block;
  float: right;
}

#NO{
  display: block;
  float: left;
}

#myProgressGold {
  width: 90%;
  background-color:rgb(255, 0, 0);
  margin-left:5%;
  margin-bottom: 20px;
}

#myBarGold {
  width: 33%;
  height: 18px;
  background-color: #FFA500;
  text-align: center; 
  line-height: 30px; 
  color: white;
}

#myProgressBabbani {
  width: 90%;
  background-color: rgb(9, 242, 246);
  margin-left:5%;
  margin-bottom: 20px;
}

#myBarBabbani {
  width: 33%;
  height: 18px;
  background-color: #8B4513;
  text-align: center; 
  line-height: 30px; 
  color: white;
}
#myProgressArmy {
  width: 90%;
  background-color: rgb(4, 156, 47);
  margin-left:5%;
  margin-bottom: 20px;
}

#myBarArmy {
  width: 33%;
  height: 18px;
  background-color: #000000;
  text-align: center;
  line-height: 30px;
  color: white;
}

#myProgressMeme {
  width: 90%;
  color:#0000FF;
  margin-left:5%;
}

#myBarMeme {
  width: 33%;
  height: 18px;
  background-color:#FF00FF;
  text-align: center; 
  line-height: 30px; 
  color: white;
}